---

modules:
  components:
    import_path: python_dashing.core_modules.components.main:Components

dashboards:
  /number:
    description: A number!
    imports:
      - [[Number], 'components']
    sources:
      - url: "/data/components/number"
        interval: 1000
    layout:
      <Number title="test" data={this.state["/data/components/number"]} />
