---

modules:
  components:
    import_path: python_dashing.core_modules.components.main:Components

dashboards:
  /number:
    description: A number!
    imports:
      - [[Number, List], 'components']
    sources:
      - url: "/data/components/number"
        interval: 1000
      - url: "/data/components/list"
        interval: 1000
    layout:
      <Number title="Random statistic" data={this.state["/data/components/number"]} />
      <List title="A list of something stupid" data={this.state["/data/components/list"]} />
