
.container {
  max-width: 500px;
  min-width: 200px;
}

.heading {
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.list {
  color: white;
  font-size: 26px;
  font-weight: bold;
  padding-left: 3em;
}